* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

/* Estilos para dispositivos de pantalla pequeña */
@media only screen and (max-width: 768px) {
    body {
        font-size: 20px; 
    }

    .menu {
        padding: 20px; 
    }

    .menu .navbar ul {
        flex-direction: column; 
        background-color: rgba(0, 0, 0, 0.636);
        position: absolute; 
        top: 60px; 
        left: 0;
        right: 0;
        padding-top: 10px;
        display: none; 
    }

    .menu .navbar ul.active {
        display: flex; 
    }

    .menu .navbar ul li {
        width: 100%; 
    }

    .menu .navbar ul li a {
        padding: 15px 20px; /* Reducir el padding del enlace */
        text-align: center;
    }

    .logo {
        font-size: 18px; 
    }

    .footer-content {
        flex-direction: column; /* Cambiar la dirección del contenido del pie de página a vertical */
        text-align: center; /* Centrar el texto */
    }

    .link {
        margin-bottom: 20px; 
    }

    .contactos h3 {
        margin-bottom: 40px; 
    }

    .register-instructions {
        color: white; 
        font-size: 20px; 
    }
}

/* Estilos para dispositivos de pantalla mediana */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .menu .navbar ul li a {
        padding: 20px; /* Ajustar el padding del enlace */
    }

    .footer-content {
        flex-direction: row; 
        text-align: left; 
    }

    .link {
        margin-bottom: 0; 
    }

    .contactos h3 {
        margin-bottom: 80px; 
    }

    .register-instructions {
        color: white; /* Cambiar el color del texto a blanco */
        font-size: 20px; /* Ajustar el tamaño de fuente */
    }
}

/* Estilos para el contenedor de partículas */
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #156092; /* Color de fondo azul */
    z-index: -1; /* Para asegurarse de que el contenedor de partículas esté detrás del contenido */
}

/* Estilos para el contenido */
.background {
    position: relative;
    z-index: 1; /* Asegura que el contenido esté por encima del contenedor de partículas */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 60px;
    color: #fff;
}

/* Estilos para el menú de navegación */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.336);
    padding: 10px 20px;
    width: 100%;
}

.logo {
    color: #ffffff;
    font-size: 20px;
    font-weight: 800;
}

.menu .navbar ul {
    display: flex;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 16px;
    padding: 20px;
    color: aliceblue;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: #007ea7;
}

/* Estilos para los elementos de la página */
h1 {
    text-align: center;
    margin-bottom: 30px;
}

ol {
    text-align: left;
    margin-bottom: 30px;
}

button.download-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

button.download-btn:hover {
    background-color: #0056b3;
}

/* Estilos para el pie de página */
/* Estilos para el pie de página */
.footer {
    background-color: #00171f;
    padding: 40px 40px;
    color: white;
    text-align: center;
    position: relative; /* Asegura que el pie de página esté posicionado correctamente */
    z-index: 2; /* Asegura que el pie de página esté por encima del contenedor de partículas */
}

.footer-content {
    display: flex;
    justify-content: center; /* Centra el contenido horizontalmente */
    align-items: center; /* Centra el contenido verticalmente */
    flex-direction: column; /* Alinea los elementos verticalmente */
}

.link {
    margin-bottom: 40px;
}

.link h4 {
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
}

.contactos h3 {
    color: white;
    font-size: 30px;
    margin-bottom: 20px; /* Reducir el margen inferior */
}

.link ul {
    list-style: none;
    padding: 0;
}

.link ul li {
    margin-bottom: 10px;
}

.link ul li a {
    color: white;
    text-decoration: none;
}

.link ul li a:hover {
    color: #007ea7;
}

.copyrigth p {
    color: white;
    font-size: 14px;
    margin-top: 20px; /* Agregar un margen superior */
}