@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "Poppins", sans-serif;
    margin-top: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/images/agua-fondo-1.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 60vh;
    display: flex;
    align-items: center;
    border-radius: 6px;
    position: relative;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.336);
    padding: 10px 0;
}

.logo {
    color: #ffffff;
    font-size: 20px;
    font-weight: 800;
    margin-left: 20px;
}

.menu .navbar ul {
    display: flex;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 16px;
    padding: 20px;
    color: aliceblue;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: #007ea7;
}

#menu {
    display: none;
}

.menu-label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
    color: rgb(255, 255, 255);
    z-index: 1;
}

.header-content h1 {
    font-size: 75px;
    line-height: 80px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.header-content p {
    font-size: 16px;
    padding: 0 20px;
    margin-bottom: 25px;
}

.WaterLight {
    padding: 27px 0;
}

.WaterLight .Water-content {
    text-align: center;
}

.WaterLight h2 {
    margin-bottom: 20px;
}

.WaterLight .Water-group {
    margin-bottom: 40px;
    text-align: left;
}

.WaterLight .Water-nosotros {
    margin-bottom: 40px;
    text-align: left;
}

.WaterLight .Water-group img {
    width: 100%;
    max-width: 100%;
}

.blog {
    padding: 20px 0;
    text-align: center;
}

.blog h2 {
    margin-bottom: 20px;
}

.blog .blog-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.blog .blog-content .blog-1 {
    text-align: center;
    width: calc(33.33% - 20px);
    margin-bottom: 40px;
}

.blog .blog-content .blog-1 img {
    width: 100%;
    max-width: 100%;
}

.general {
    padding: 20px 0;
    text-align: center;
}

.general .container {
    display: flex;
    justify-content: space-between;
}

.column {
    width: calc(50% - 20px);
}

.normas-title {
    text-align: center;
    padding: 30px 0;
    font-size: large;
}

.small-cards {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.small-card {
    background-color: #007ea7;
    border-radius: 10px;
    padding: 15px;
    width: calc(25% - 20px);
    text-align: center;
}

.small-card img {
    width: 50px;
    margin-bottom: 20px;
}

.small-card h4 {
    font-size: 20px;
    margin-bottom: 5px;
}

.importance-info {
    text-align: center;
}

.importance-info a {
    text-decoration: underline;
    text-align: center;
    color: #00171f;
    font-size: 16px;
}

.small-card p {
    color: white;
    text-decoration: underline;
    cursor: pointer;
}

.small-card p:hover {
    color: #fff;
}

.card {
    background-color: transparent;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(6, 12, 87, 0.3);
    background-image: linear-gradient(rgba(10, 21, 165, 0.1), rgba(255, 255, 255, 0.8));
}

.card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.card h2 {
    color: #03030385;
    font-size: 20px;
    margin-bottom: 13px;
}

.card p {
    color: #504c4c;
    font-size: 15px;
    flex-grow: 1.5;
    text-align: justify;
}

.footer {
    background-color: #00171f;
    padding: 40px 0;
    color: white;
    text-align: center;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    margin-bottom: 20px;
}

.link h4 {
    color: white;
    font-size: 16px;
    margin-bottom: 5px;
}

.contactos h3 {
    color: white;
    font-size: 30px;
    margin-bottom: 80px;
}

.link ul {
    list-style: none;
    padding: 0;
}

.link ul li {
    margin-bottom: 5px;
}

.link ul li a {
    color: white;
    text-decoration: none;
}

.link ul li a:hover {
    color: #007ea7;
}

.copyrigth p {
    color: white;
    font-size: 14px;
}

@media (max-width: 700px) {
    .menu {
        padding: 10px 0;
    }

    .menu .navbar {
        display: none;
        width: 100%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.336);
        position: absolute;
        top: 100%;
        left: 0;
    }

    .menu .navbar ul {
        display: block;
    }

    .menu .navbar ul li {
        float: none;
        display: block;
    }

    .menu-label {
        display: block;
        cursor: pointer;
    }

    .small-card {
        width: calc(50% - 20px);
        margin-bottom: 20px;
    }
}

@media (min-width: 700px) and (max-width: 1000px) {
    .container {
        padding: 0 20px;
    }

    .small-cards {
        flex-wrap: wrap;
    }

    .small-card {
        width: calc(50% - 20px);
        margin-bottom: 20px;
    }
}

@media (min-width: 1000px) {
    .menu .navbar {
        display: flex;
        width: auto;
        background-color: transparent;
        position: static;
    }

    .menu .navbar ul {
        display: flex;
    }

    .menu .navbar ul li {
        float: none;
    }

    .menu .navbar ul li a {
        padding: 20px;
    }

    .menu-label {
        display: none;
    }
}
